<ion-view hide-back-button="false" view-title="DOLI - Edit Task">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-circled"></button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="edit()">
      <div class="list">
        <label class="item item-input">
          <input autofocus id="title" name="title" ng-model="task.title" placeholder="Title" type="text">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Edit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
