<ion-view hide-back-button="true" view-title="DOLI - Task List">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-circled" ui-sref="task-add"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">

      <div class="item item-button-right" ng-repeat="task in tasks">
        {{task.title}}
        <button class="button button-assertive" ng-click="confirmDelete(task)">
          <i class="icon ion-close-circled"></i>
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>

<script id="task-delete-confirm.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Are You Sure?</h1>
    </ion-header-bar>
    <ion-content>
      <button class="button button-light" ng-click="closeModal()">
        Cancel
        <i class="icon ion-close-circled"></i>
      </button>
      <button class="button button-assertive" ng-click="delete()">
        <i class="icon ion-close-circled"></i>
      </button>
    </ion-content>
  </ion-modal-view>
</script>
