<ion-view hide-back-button="true" view-title="Task List">

  <ion-nav-buttons side="right">
    <button class="button button-positive icon ion-refresh" ng-click="selectAll()"></button>
    <button class="button button-balanced icon ion-plus-circled" ui-sref="app.task-add"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="button-bar bar-stable">
      <a class="button" ng-click="selectCategory('ALL')" type="button">
        <i class="icon ion-android-checkbox-outline"></i>
      </a>
      <a class="button" ng-click="selectCategory(category.id)" ng-repeat="category in categories" type="button">
        <i class="icon {{category.icon}}" style="color : #{{category.color}}"></i>
      </a>
    </div>

    <ion-list can-swipe="true">
      <ion-item class="item item-icon-left item-icon-right" ng-repeat="task in tasks" on-hold="onHold(task)">
        <i class="icon {{task.category_icon}}" style="color : #{{task.category_color}}"></i>
        {{task.title}}
        <i class="icon {{task.priority_icon}}" style="color : #{{task.priority_color}}"></i>
        <ion-option-button class="button-assertive" ng-click="done($index, task)">
          Done
        </ion-option-button>
      </ion-item>
      <ion-item class="item item-icon-left item-icon-right item-done" ng-repeat="task in tasksDone" on-hold="onHold(task)">
        <i class="icon {{task.category_icon}}" style="color : #{{task.category_color}}"></i>
        <span>{{task.title}}</span>
        <i class="icon {{task.priority_icon}}" style="color : #{{task.priority_color}}"></i>
        <ion-option-button class="button-assertive" ng-click="undone($index, task)">
          Done
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

<script id="task-delete-confirm.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>

      <h1 class="title">
        Delete Task</h1>

    </ion-header-bar>
    <ion-content>
      <div class="row">
        <div class="col">
          {{selectedTask.title}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Delete this?
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" ng-click="closeModal()">
            Cancel
            <i class="icon ion-close-circled"></i>
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive" ng-click="delete()">
            Delete
            <i class="icon ion-trash-b"></i>
          </button>
        </div>
      </div>

    </ion-content>
  </ion-modal-view>
</script>
