<ion-view hide-back-button="true" view-title="DOLI">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-circled" ng-click="insertDummy()"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">

      <div class="item item-button-right" ng-repeat="task in tasks">
        {{task.title}}
        <button class="button button-assertive" ng-click="delete(task)">
          <i class="icon ion-close-circled"></i>
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>
