<ion-view hide-back-button="false" view-title="Add Category">
  <ion-content>
    <form ng-submit="create()">
      <div class="list">
        <label class="item item-input">
          <input autofocus id="code" name="code" ng-model="category.code" placeholder="Code" type="text">
        </label>
        <label class="item item-input">
          <input autofocus id="color" name="color" ng-model="category.color" placeholder="Color" type="text">
        </label>
        <label class="item item-input">
          <input autofocus id="icon" name="icon" ng-model="category.icon" placeholder="Icon" type="text">
        </label>
        <label class="item item-input">
          <input autofocus id="name" name="name" ng-model="category.name" placeholder="Name" type="text">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Create</button>
      </div>
    </form>
  </ion-content>
</ion-view>
