<ion-view hide-back-button="false" view-title="Category View">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-circled"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        {{category.code}}
      </label>
      <label class="item item-input">
        {{category.name}}
      </label>
      <label class="item item-input">
        {{category.icon}}
      </label>
      <label class="item item-input">
        {{category.color}}
      </label>
    </div>
    {{category.name}}
  </ion-content>
</ion-view>
