<ion-view hide-back-button="false" view-title="Priority View">
  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-circled"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        {{priority.code}}
      </label>
      <label class="item item-input">
        {{priority.name}}
      </label>
      <label class="item item-input">
        {{priority.icon}}
      </label>
      <label class="item item-input">
        {{priority.color}}
      </label>
    </div>    
  </ion-content>
</ion-view>
